@media only screen and (min-width: 320px) {
  .tablet {
    display: none;
  }

  .rank,
  .point {
    display: none;
  }

  .loading {
    position: absolute;
    background-color: var(--white);
    width: 100%;
  }

  .customerTable {
    width: 100%;
    border-collapse: collapse;
    position: relative;
  }

  .customerTable th {
    font-size: 0.75rem;
    line-height: calc(16 / 12);
    color: var(--default-heavy);
    text-align: left;
    padding: 1.5rem 1rem;
  }

  .customerTable td {
    padding: 1rem;
  }

  .loadContent {
    text-align: center;
    width: 100%;
  }

  .listItem {
    border-top: 1px solid var(--default);
    cursor: pointer;
    transition: all 0.5s ease-out;
  }

  .listItem:hover {
    background-color: var(--default);
  }

  .listItem:last-child {
    border-bottom: 1px solid var(--default);
  }

  .rankDetail {
    display: none;
  }

  .listInfo {
    display: flex;
    align-items: center;
  }
  .avatar {
    margin-right: 1.5625rem;
    border-radius: 0.25rem;
    border: 1px solid var(--default);
  }

  .infoTitle {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: calc(20 / 16);
    color: #212121;
    font-family: 'Inter', sans-serif;
  }

  .infoContent {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #666666;
    font-family: 'Inter', sans-serif;
  }

  .page {
    width: 100%;
    margin-top: 0.9375rem;
  }

  .pageDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
    float: right;
  }

  .pageNumber {
    overflow: hidden;
  }

  .number:hover {
    background-color: var(--default);
  }

  .clear {
    clear: both;
  }
}

@media only screen and (min-width: 768px) {
  .tablet {
    display: table-cell;
  }
  .rank,
  .point {
    display: table-cell;
  }
  .rankDetail {
    display: block;
    width: fit-content;
    padding: 0.5rem 1.1875rem;
    border-radius: 4px;
    width: 80px;
    text-align: center;
  }
  .rankDetail.silver {
    background-color: #d7d7d7;
  }
  .rankDetail.gold {
    background-color: #af9500;
    color: var(--white);
  }
  .rankDetail.bronze {
    background-color: #ad8a56;
    color: var(--white);
  }
  .rankDetail.plastic {
    color: var(--default-heavy);
  }
  .point {
    color: var(--primary-heavy);
    text-align: right;
  }
}
