.checkbox {
  -webkit-appearance: none;
  background-color: transparent;
  display: block;
  border-radius: 4px;
  border: 2px solid var(--default);
  width: 18px;
  height: 18px;
  transition: all 0.2s ease-in;
}

/* hover */
.checkbox:hover {
  border-color: var(--primary);
}

/* Handle focus,check */
.checkbox:checked {
  border-color: var(--primary);
}
.checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.checkbox:focus {
  outline: none;
}

/* Disable */
.checkbox:disabled {
  border-color: var(--default-heavy);
}
.checkbox:disabled:after {
  content: '\2714';
  color: var(--default-heavy);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
