* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oxygen', sans-serif;
}
html {
  --white: #fff;
  --primary: #1e90ff;
  --primary-light: #4ba6ff;
  --primary-heavy: #0061ff;
  --secondary: #115ffb;
  --success: #18a957;
  --warning: #ffbb38;
  --error: #df1642;
  --default: #e6e6e6;
  --default-heavy: #939393;
}
@media only screen and (min-width: 375px) {
  .App {
    overflow-x: hidden;
  }
  .main {
    padding: 2rem 1rem;
    width: 100%;
    position: relative;
    left: 0;
    transition: all 0.3s;
    max-width: 1028px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .App {
    overflow-x: visible;
  }
  .main {
    padding: 2rem 1rem;
    width: 100%;
  }
}
